%tr
  %td
    event.application_uid
  %td
    event.type
  %td
    event.model_name
  %td
    event.controller_name
  %td
    event.action_name
  %td
    event.action_uid
  %td
    event.date_time
  %td
    event.data
  %td
    event.session_data
